@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Poppins&family=Roboto:ital@1&display=swap");

:root {
  --palette-1: #f0f0f0;
  --palette-2: #acc3d3;
  --palette-3: rgba(200, 227, 236, 0.5);
  --palette-4: #c8e3ec;

  --color-error: red;
  --color-success: #0c0;

  --font-1: 12px Poppins, Roboto, sans-serif;
  --font-2: 15px Open Sans, sans-serif;
  --font-3: 16px Lato, cursive, sans-serif;
  --font-4: 18px Open Sans, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  overflow-x: hidden;
}

/* Dialogs */
section#dialogs {
  background: transparent;
  position: absolute;
  transition: background 0.3s;
}

dialog {
  display: block;
  border: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 500px;
  height: 350px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

section#dialogs.active {
  background: rgba(0, 0, 0, 0.5);
}

dialog.active {
  transform: translate(-50%, -50%) scale(1);
}

dialog * {
  box-sizing: border-box;
}

dialog h1 {
  font: var(--font-4);
  color: #666;
  margin: 0;
}

dialog label {
  width: 300px;
  height: 19px;

  font: var(--font-1);
  line-height: 15px;
}

dialog input {
  border-radius: 5px;
  border: 2px solid var(--palette-2);
  box-shadow: 0px 4px 20px var(--palette-3);

  width: 300px;
  height: 35px;
  margin-bottom: 17px;

  font: var(--font-2);
  padding-left: 5px;

  background: var(--palette-1);
}

dialog button {
  margin-top: 15px;
  width: 146px;
  border-radius: 5px;
  border: 2px solid var(--palette-2);
  box-shadow: 0px 4px 20px var(--palette-3);
}

.dialog-output {
  color: var(--color-error);
}

/* Login interface */
section {
  width: 100%;
  height: 100%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login {
  transition: opacity 0.5s;
}

#login * {
  box-sizing: border-box;
  border-radius: 5px;
}

#login *:not(label, .center) {
  border: 2px solid var(--palette-2);
  box-shadow: 0px 4px 20px var(--palette-3);
}

button {
  height: 36px;
  font: var(--font-2);
  background: var(--palette-4);
  cursor: pointer;
}

#login #add-user-button {
  position: absolute;
  width: 91px;
  right: 15px;
  top: 15px;
  border-radius: 5px;
}

#login .user-image {
  display: block;
  width: 200px;
  height: 200px;
  margin-bottom: 36px;

  background: url("../img/default_user_image.png"), var(--palette-1);
  background-size: cover;
  border-radius: 10px;
}

#login label {
  width: 300px;
  height: 19px;

  font: var(--font-1);
  line-height: 15px;
}

#login input {
  width: 300px;
  height: 35px;
  margin-bottom: 17px;

  font: var(--font-2);
  padding-left: 5px;

  background: var(--palette-1);
}

#login-output {
  color: var(--color-error);
}

#login #login-button {
  width: 146px;
}

/*********************************************************
* Passwords section
*/
#passwords {
  position: absolute;
  background: #fff;
  top: 0;
  left: 100%;
  transition: left 0.5s ease-in-out;
}

#passwords button,
#passwords input {
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid #acc3d3;
  box-shadow: 0px 4px 10px rgba(200, 227, 236, 0.5);
}

#passwords input:not(.password-container input) {
  position: absolute;
  left: 342px;
  width: 370px;
}

#passwords input {
  height: 34px;
  background: #fcfcfc;
  font: var(--font-3);
}

#passwords label {
  position: absolute;
  width: 438px;
  height: 19px;
  left: 342px;
  font: var(--font-1);
  line-height: 15px;
}

#passwords .password-container {
  box-sizing: border-box;
  width: 320px;
  height: 100%;
  padding: 20px;

  background: #f0f0f0;
  border-right: 2px solid #acc3d3;
}

#passwords .password-container input {
  width: 280px;
  margin-top: 11px;
}

#passwords #password-container {
  box-sizing: border-box;

  width: 280px;
  height: 400px;
  margin-top: 30px;
  padding-top: 12px;

  background: #fcfcfc;
  border: 2px solid #acc3d3;
  border-radius: 5px;
}

#password-container span {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding-left: 10px;
  height: 34px;
  font: var(--font-2);
  line-height: 34px;
  font-size: 14px;
}

#password-container span:hover {
  background: whitesmoke;
}

#password-container span.active {
  background: var(--palette-4);
}

#passwords .button-bar {
  position: absolute;
  box-sizing: border-box;
  padding: 10px 15px;
  width: 460px;
  height: 36px;
  top: 0;
  left: 320px;
}

#passwords .button-bar button {
  width: 36px;
  font: var(--font-3);
}

#passwords .button-bar button:disabled {
  background: #f0f0f0;
  border: 2px solid #b0b0b0;
}

#passwords .button-bar button:last-child {
  box-sizing: border-box;
  width: 91px;
  float: right;
  font: var(--font-2);
}

#passwords label[for="account-output"] {
  top: 75px;
}

#passwords #account-output {
  top: 94px;
}

#passwords #account-output + button {
  position: absolute;
  top: 94px;
  left: 730px;
  width: 34px;
  height: 34px;
}

#passwords label[for="username-output"] {
  top: 149px;
}

#passwords #username-output {
  top: 168px;
}

#passwords #username-output + button {
  position: absolute;
  top: 168px;
  left: 730px;
  width: 34px;
  height: 34px;
}

#passwords label[for="password-output"] {
  top: 223px;
}

#passwords #password-output {
  top: 242px;
}

#passwords #password-output + button  {
  position: absolute;
  top: 242px;
  left: 730px;
  width: 34px;
  height: 34px;
}

#passwords button:active {
  background: #999;
}
