
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Lato&family=Open+Sans&family=Poppins&family=Quicksand:wght@600&family=Roboto:ital@1&display=swap');

:root {
  --palette-1: #f0f0f0;
  --palette-2: #acc3d3;
  --palette-3: rgba(200, 227, 236, 0.5);
  --palette-4: #c8e3ec;

  --color-error: red;
  --color-success: #0c0;

  --font-1: 12px Poppins, Roboto, sans-serif;
  --font-2: 15px Open Sans, sans-serif;
  --font-3: 16px Quicksand, cursive, sans-serif;
  --font-4: 16px Lato, sans-serif;
  --font-5: 18px Ubuntu, Lato, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  overflow-x: hidden;
}

/* Dialogs */
section#dialogs {
  background: transparent;
  position: absolute;
  transition: background 0.3s;
}

dialog {
  display: block;
  margin: 0;
  border: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 500px;
  height: 350px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

section#dialogs.active {
  background: rgba(0, 0, 0, 0.5);
}

dialog.active {
  transform: translate(-50%, -50%) scale(1);
}

dialog * {
  box-sizing: border-box;
}

dialog h1 {
  font: var(--font-5);
  color: #666;
  margin: 0;
}

dialog label {
  width: 300px;
  height: 19px;

  font: var(--font-1);
  line-height: 15px;
}

dialog input {
  border-radius: 5px;
  border: 2px solid var(--palette-2);
  box-shadow: 0px 4px 20px var(--palette-3);

  width: 300px;
  height: 35px;
  margin-bottom: 17px;

  font: var(--font-2);
  padding-left: 5px;

  background: var(--palette-1);
}

#add-password-dialog input, #edit-password-dialog input {
  font: var(--font-3);
}

#add-password-password-input , #edit-password-password-input {
  width: 260px;
}

dialog button {
  margin-top: 15px;
  width: 146px;
  border-radius: 5px;
  border: 2px solid var(--palette-2);
  box-shadow: 0px 4px 20px var(--palette-3);
}

dialog button.square-button {
  width: 35px;
  aspect-ratio: 1;
  margin-left: 5px;
  margin-top: 0;
  color: #444;
  background: var(--palette-1);
}

.dialog-output {
  color: var(--color-error);
}

#delete-password-dialog span {
  font: var(--font-1);
  font-size: 13px;
  text-align: center;
}

#delete-password-dialog .button-bar {
  display: flex;
  justify-content: space-evenly;
}

#delete-password-dialog .button-bar button:first-child {
  margin-right: 10px;
}

/********************************************
 * Login interface
 */
section {
  width: 100%;
  height: 100%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login {
  transition: opacity 0.5s;
}

#login * {
  box-sizing: border-box;
  border-radius: 5px;
}

#login *:not(label, .center) {
  border: 2px solid var(--palette-2);
  box-shadow: 0px 4px 20px var(--palette-3);
}

button {
  height: 36px;
  font: var(--font-2);
  background: var(--palette-4);
  cursor: pointer;
}

#login #add-user-button {
  position: absolute;
  width: 91px;
  right: 15px;
  top: 15px;
  border-radius: 5px;
}

#login .user-image {
  display: block;
  width: 200px;
  height: 200px;
  margin-bottom: 36px;

  background: url("../img/default_user_image.png"), var(--palette-1);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

#login label {
  width: 300px;
  height: 19px;

  font: var(--font-1);
  line-height: 15px;
}

#login input {
  width: 300px;
  height: 35px;
  margin-bottom: 17px;

  font: var(--font-2);
  padding-left: 5px;

  background: var(--palette-1);
}

#login-output {
  color: var(--color-error);
}

#login #login-button {
  width: 146px;
}

/*********************************************************
* Passwords section
*/
#passwords {
  position: absolute;
  display: none;
  background: #fff;
  top: 0;
  left: 100%;
  transition: left 0.5s ease-in-out;
}

#passwords button,
#passwords input {
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid #acc3d3;
  box-shadow: 0px 4px 10px rgba(200, 227, 236, 0.5);
}

#passwords input {
  min-height: 34px;
  background: #fcfcfc;
  font: var(--font-4);
}

#passwords .password-container {
  box-sizing: border-box;
  width: 40vw;
  height: 100%;
  padding: 20px;
  padding-top: 31px;

  background: #f0f0f0;
  border-right: 2px solid #acc3d3;

  display: flex;
  flex-direction: column;
}

#passwords .password-container input {
  width: 100%;
}

#passwords #password-container {
  box-sizing: border-box;

  width: 100%;
  height: 100%;
  margin-top: 30px;
  padding-top: 12px;

  background: #fcfcfc;
  border: 2px solid #acc3d3;
  border-radius: 5px;

  overflow-y: auto;
}

#password-container span {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 10px;
  font: var(--font-2);
  line-height: 100%;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

#password-container span:hover {
  background: whitesmoke;
}

#password-container span.active {
  background: var(--palette-4);
}

#passwords .button-bar {
  position: absolute;
  box-sizing: border-box;
  padding: 10px 15px;
  width: 60vw;
  top: 0;
  left: 40vw;
}

#passwords .button-bar button {
  width: 36px;
  font: var(--font-3);
}

#passwords .button-bar button:disabled {
  background: #f0f0f0;
  border: 2px solid #b0b0b0;
}

#passwords .button-bar button:last-child {
  box-sizing: border-box;
  width: 91px;
  float: right;
  font: var(--font-2);
}

#passwords label {
  position: absolute;
  width: calc(60vw - 20px);
  height: 19px;
  left: calc(40vw + 15px);
  font: var(--font-1);
  line-height: 15px;
}

#passwords .output-container {
  position: absolute;
  box-sizing: border-box;
  left: 40vw;
  width: 60vw;
  padding: 0 15px;
  display: flex;
  gap: 15px;
}

#passwords .output-container input {
  width: 100%;
  color: #000;
  font: var(--font-3);
}

#passwords .output-container button  {
  width: 34px;
  height: 34px;
}

#passwords label[for="account-output"] {
  top: 75px;
}

#passwords .output-container:nth-of-type(3) {
  top: 94px;
}

#passwords label[for="username-output"] {
  top: 149px;
}

#passwords .output-container:nth-of-type(4) {
  top: 168px;
}

#passwords label[for="password-output"] {
  top: 223px;
}

#passwords .output-container:nth-of-type(5) {
  top: 242px;
}

#passwords button:active {
  background: #999;
}
